
  .input{
    width: 45rem;
    height: 50px;
    outline: none;
    border-style: solid;
    font-size: 20px;
    border-color: #D9D9D9;
    border-radius: 8px;
    font-style: normal;
    padding-left: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .inputDescription{
    width: 45rem;
    height: 150px;
    outline: none;
    border-style: solid;
    border-radius: 8px;
    font-size: 20px;
    border-color: #D9D9D9;
    font-style: normal;
    resize: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .inputDescription::-webkit-input-placeholder{
      padding-top: 10px;
      padding-left: 12px;
  }

  .submitButton{
    width: 15rem;
    height: 50px;
    position: relative;
    border-style: solid;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
  }
  .submitButton:hover{
    opacity: 0.3;
  }
